[submodule "finsavior-front"]
	path = finsavior-front
	url = https://github.com/Hachibitz/finsavior-front.git
[submodule "finsavior-back"]
	path = finsavior-back
	url = https://github.com/Hachibitz/finsavior-back.git
[submodule "grpc-finsavior-services"]
	path = grpc-finsavior-services
	url = https://github.com/Hachibitz/grpc-finsavior-services.git
[submodule "finsavior-events-processor"]
	path = finsavior-events-processor
	url = https://github.com/Hachibitz/finsavior-events-processor.git
[submodule "finsavior-config-server"]
	path = finsavior-config-server
	url = https://github.com/Hachibitz/finsavior-config-server.git
[submodule "finsavior-cloud-properties"]
	path = finsavior-cloud-properties
	url = https://github.com/Hachibitz/finsavior-cloud-properties.git
